concurrency:
    cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
    group: ${{ github.workflow }}-${{ github.ref }}

env:
    CI: 1

jobs:
    build:
        runs-on: ${{ matrix.os }}
        steps:
            - name: Checkout
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

            - name: Install pnpm
              uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
              with:
                  version: latest

            - name: Setup Node
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
              with:
                  node-version-file: .nvmrc

            - id: pnpm-store
              name: Get pnpm store path
              run: echo "path=$(pnpm store path)" >> $GITHUB_OUTPUT

            - name: Cache pnpm store
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
              with:
                  key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
                  path: ${{ steps.pnpm-store.outputs.path }}
                  restore-keys: ${{ runner.os }}-pnpm-

            # https://docs.astral.sh/uv/guides/integration/github/
            - name: Install uv
              uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b
              with:
                  enable-cache: true

            # https://just.systems/man/en/github-actions.html
            - name: Install Just
              uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff

            - name: Cache Cargo
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
              with:
                  key: ${{ runner.os }}-cargo-${{ hashFiles('rust/Cargo.lock') }}
                  path: |
                      ~/.cargo/registry/index/
                      ~/.cargo/registry/cache/
                      ~/.cargo/git/db/
                      rust/target/
                  restore-keys: ${{ runner.os }}-cargo-

            - name: Cache NuGet
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
              with:
                  key: ${{ runner.os }}-nuget-${{ hashFiles('csharp/**/*.csproj') }}
                  path: ~/.nuget/packages
                  restore-keys: ${{ runner.os }}-nuget-

            - if: runner.os == 'Linux'
              name: Install Linux libraries
              run: sudo apt-get install -y cpanminus

            - if: runner.os == 'macOS'
              name: Install MacOS libraries
              run: brew install clang-format cpanminus

            - name: Install dependencies
              run: just install

            - name: Spellcheck
              run: just spellcheck

            - name: JavaScript tests
              run: just javascript

            - name: Python tests
              run: just python

            - name: C++ tests
              run: just cpp

            - name: Perl tests
              run: just perl

            - name: Rust tests
              run: just rust

            - name: C# tests
              run: just csharp

        strategy:
            fail-fast: false
            matrix:
                os:
                    - macos-15
                    - ubuntu-24.04

name: build

on:
    pull_request:
    push:
        branches:
            - main
    workflow_dispatch:
