env:
    CI: 1

jobs:
    build:
        # https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2204-Readme.md
        runs-on: ubuntu-24.04
        steps:
            - name: Checkout
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

            - name: Cache pnpm store
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
              with:
                  key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
                  path: ~/.local/share/pnpm/store
                  restore-keys: ${{ runner.os }}-pnpm-

            - name: Install pnpm
              uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
              with:
                  version: latest

            # https://docs.astral.sh/uv/guides/integration/github/
            - name: Install uv
              uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b
              with:
                  enable-cache: true

            # https://just.systems/man/en/github-actions.html
            - name: Install Just
              uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3

            - name: Cache Cargo
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
              with:
                  key: ${{ runner.os }}-cargo-${{ hashFiles('rust/Cargo.lock') }}
                  path: |
                      ~/.cargo/registry/index/
                      ~/.cargo/registry/cache/
                      ~/.cargo/git/db/
                      rust/target/
                  restore-keys: ${{ runner.os }}-cargo-

            - name: Cache NuGet
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
              with:
                  key: ${{ runner.os }}-nuget-${{ hashFiles('csharp/**/*.csproj') }}
                  path: ~/.nuget/packages
                  restore-keys: ${{ runner.os }}-nuget-

            - name: Install dependencies
              run: just install

            - name: Spellcheck
              run: just spellcheck

            - name: JavaScript tests
              run: just javascript

            - name: Python tests
              run: just python

            - name: C++ tests
              run: just cpp

            - name: Perl tests
              run: just perl

            - name: Rust tests
              run: just rust

            - name: C# tests
              run: just csharp

name: build

on:
    pull_request:
    push:
        branches:
            - main
    workflow_dispatch:
