# https://docs.github.com/en/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions#automatically-approving-a-pull-request
env:
    CI: 1

jobs:
    dependabot:
        if: github.event.pull_request.user.login == 'dependabot[bot]'
        runs-on: ubuntu-24.04

        steps:
            - name: Fetch the Dependabot metadata
              uses: dependabot/fetch-metadata@21025c705c08248db411dc16f3619e6b5f9ea21a
              with:
                  github-token: "${{ secrets.GITHUB_TOKEN }}"

            - name: Checkout
              uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5

            - name: Cache pnpm store
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
              with:
                  key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
                  path: ~/.local/share/pnpm/store
                  restore-keys: ${{ runner.os }}-pnpm-

            - name: Install pnpm
              uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
              with:
                  version: latest

            # https://docs.astral.sh/uv/guides/integration/github/
            - name: Install uv
              uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b
              with:
                  enable-cache: true

            # https://just.systems/man/en/github-actions.html
            - name: Install Just
              uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff

            - name: Cache Cargo
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
              with:
                  key: ${{ runner.os }}-cargo-${{ hashFiles('rust/Cargo.lock') }}
                  path: |
                      ~/.cargo/registry/index/
                      ~/.cargo/registry/cache/
                      ~/.cargo/git/db/
                      rust/target/
                  restore-keys: ${{ runner.os }}-cargo-

            - name: Cache NuGet
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
              with:
                  key: ${{ runner.os }}-nuget-${{ hashFiles('csharp/**/*.csproj') }}
                  path: ~/.nuget/packages
                  restore-keys: ${{ runner.os }}-nuget-

            - name: Install dependencies
              run: just install

            - name: Spellcheck
              run: just spellcheck

            - name: C# tests
              run: just csharp

            - name: C++ tests
              run: just cpp

            - name: JavaScript tests
              run: just javascript

            - name: Perl tests
              run: just perl

            - name: Python tests
              run: just python

            - name: Rust tests
              run: just rust

            - env:
                  GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
                  PR_URL: ${{github.event.pull_request.html_url}}
              name: Approve the Dependabot PR
              run: gh pr review --approve "$PR_URL"

            - env:
                  GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
                  PR_URL: ${{github.event.pull_request.html_url}}
              name: Merge and delete the branch
              run: gh pr merge --squash --delete-branch "$PR_URL"

name: Dependabot auto-approve
on: pull_request

permissions:
    contents: write
    pull-requests: write
